<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dukaan</title><!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/site.css">
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top"><button
            class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="container"> <a class="navbar-brand" href="#">Dukaan</a>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item <%= locals.home%>">
                        <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item <%= locals.shop%>">
                        <a class="nav-link" href="/shop">Shop</a>
                    </li>
                    <li class="nav-item <%= locals.user%>">
                        <a class="nav-link" href="/admin/user">Manage Users</a>
                    </li>
                    <li class="nav-item <%= locals.item%>">
                        <a class="nav-link" href="/admin/item">Manage Items</a>
                    </li>
                    <li class="nav-item <%= locals.orders%> ">
                        <a class="nav-link" href="/admin/orders">Manage Orders </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
